/* HEADER */
/* ***** */
header{
    background-image: url(../img/desktop/bannerheader1.jpg);
    background-repeat: no-repeat;
    height: 22.8125rem ;
    width: 85.375rem;
    background-size: cover;

    /* GRID 4x4*/

    display: grid;
    grid-template-columns: 10% 20% 1fr 10%;
    grid-template-rows: 3.125rem repeat(3, 1fr);
}

/* GRID ITEMS */

nav{
    grid-column: 2/4;
    grid-row: 1/2;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.menu__barranav{
    display: grid;
    grid-column-gap: 20px;
    grid-auto-flow: column;
    grid-auto-columns: auto;
    align-items: center;
}

.info{
    grid-column: 2/3;
    grid-row: 3/4;
    display: flex;
    flex-flow: column nowrap;
    row-gap: 15px;
    flex-basis: inherit;
}

h1{
    font-size: .9375rem;
    font-weight: bolder;

    
}
h2{
    font-size: 1.8125rem;
}

h3{
    font-size: .75rem;
    font-weight:lighter
}
.info__boton{
    background-color: orange;
    color: white;
    font-weight: bolder;
    font-size: 1rem;
    padding: .625rem 1.25rem;
    border-radius: .3125rem;
    width: 35%;   

}

.btn{
    background-color: orange;
    color: white;
    font-weight: bolder;
    font-size: 1rem;
    padding: .625rem 1.25rem;
      
}